html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all .2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

body[data-theme='light']{
  --bg-main: #FFFFFF;
  --bg-sub: #dddddd;
  --tx-main: #000000;
}

body[data-theme='dark']{
  --bg-main: #111111;
  --bg-sub: #333333;
  --tx-main: #FFFFFF;
}